In [1]:
my_tuple =()

In [2]:
my_tuple

()

In [3]:
my_tuple = (1,2,3)

In [4]:
my_tuple

(1, 2, 3)

In [8]:
my_tuple = (1,2,"Ashutosh", [1,2,3])

In [9]:
my_tuple

(1, 2, 'Ashutosh', [1, 2, 3])

In [10]:
my = 3,4,3.4 ,'Ashutosh'

In [11]:
my

(3, 4, 3.4, 'Ashutosh')

In [12]:
type(my)

tuple

In [13]:
a , b ,c , d = my

In [14]:
a

3

In [15]:
b

4

In [16]:
c

3.4

In [17]:
d

'Ashutosh'

In [18]:
my_tuple = ("Ashutosh")

In [19]:
type(my_tuple)

str

In [20]:
my_tuple= ("Ashutosh",)

In [21]:
type(my_tuple)

tuple

In [22]:
my_tuple[0]

'Ashutosh'

In [23]:
my_tuple[-1]

'Ashutosh'

In [25]:
my_tuple[10]

IndexError: tuple index out of range

In [26]:
my_tuple = (1,2,3,[1,2,3])

In [27]:
my_tuple[3][1]

2

In [28]:
my_tuple[:]

(1, 2, 3, [1, 2, 3])

In [29]:
my_tuple[0:3]

(1, 2, 3)

In [30]:
my_tuple[-1:-2]

()

In [31]:
my_tuple[-2:-1]

(3,)

In [32]:
my_tuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [33]:
my_tuple[3][0]  =4

In [34]:
my_tuple

(1, 2, 3, [4, 2, 3])

In [35]:
my_tuple + (1,2,3)

(1, 2, 3, [4, 2, 3], 1, 2, 3)

In [36]:
("Ashutosh",)*3

('Ashutosh', 'Ashutosh', 'Ashutosh')

In [37]:
del my_tuple

In [38]:
"My Documents"

'My Documents'

In [39]:
my_typle = [1,2,3,3,3]

In [42]:
my_typle.count(3)

3

In [44]:
my_typle.index(3)

2

In [45]:
1 in my_typle

True

In [46]:
6 in my_typle

False

In [49]:
for i in my_typle:
    print(i)

1
2
3
3
3

In [53]:
for index , value in enumerate(my_typle):
    print(index ,value)

0 1
1 2
2 3
3 3
4 3

In [54]:
min(my_typle)

1

In [55]:
sum(my_typle
   )

12

In [56]:
a= 5

In [57]:
type(a)

int

In [58]:
a= 5.0

In [59]:
type(a)

float

In [60]:
c = 4 +4j

In [61]:
c

(4+4j)

In [63]:
type(c)

complex

In [64]:
isinstance(c,complex)

True

In [65]:
0xFB

251

In [66]:
ob10

NameError: name 'ob10' is not defined

In [67]:
0b10

2

In [68]:
1 + 1.0

2.0

In [69]:
int(2.3)

2

In [70]:
int(2.6)

2

In [71]:
int(2.9)

2

In [72]:
int(-2.8)

-2

In [73]:
float(5)

5.0

In [74]:
complex('3+5j')

(3+5j)

In [75]:
(1.1  + 2.2) == 3.3

False

In [76]:
1/3

0.3333333333333333

In [77]:
decimal.Decimal(0.1)

NameError: name 'decimal' is not defined

In [78]:
from decimal import Decimal as D

In [79]:
D('1.1')+D('2.2')

Decimal('3.3')

In [80]:
import math
print(math.pi)

3.141592653589793

In [81]:
math.cos(math.pi)

-1.0

In [82]:
math.exp(10)

22026.465794806718

In [83]:
math.log10(100)

2.0

In [84]:
import random
random.randrange(10,30)

18

In [85]:
x = [1,2,3]
random.choice(x)

3

In [86]:
random.shuffle(x)

In [87]:
x

[1, 2, 3]